/* --- One Dark Warm Palette --- */
@define-color bg0 #2c2d30;
@define-color bg1 #35373b;
@define-color bg2 #3e4045;
@define-color fg #b1b4b9;
@define-color red #e16d77;
@define-color orange #c99a6e;
@define-color yellow #dfbe81;
@define-color green #99bc80;
@define-color blue #68aee8;
@define-color purple #c27fd7;
@define-color cyan #5fafb9;
@define-color grey #646568;

* {
  font-family: "BlexMono Nerd Font", monospace;
  font-size: 16px;
}

#custom-openbracket,
#custom-closebracket,
#custom-split {
  margin: 0 5px;
  color: @grey; /* Dims the brackets slightly so the data stands out */
}

window#waybar {
  background-color: @bg0;
  border-top: 1px solid @orange;
  color: @fg;
  transition: background-color 0.5s;
}

window#waybar.hidden {
  opacity: 0.2;
}

window#waybar.empty #window {
  background-color: transparent;
}

.modules-left,
.modules-center,
.modules-right {
  padding: 0 7px 0 7px;
  background-color: @bg0;
  border-top: 1px solid @orange;
}

#custom-void {
  padding-right: 10px;
  padding-left: 3px;
  font-size: 15px;
  border-radius: 8px;
  color: @orange;
  font-weight: bold;
}

#workspaces button {
  all: unset;
  min-width: 0;
  padding: 0 5px;
  background-color: transparent;
  color: @grey;
  border-radius: 0;
}

/* Waybar sets Sway workspaces to 'focused' rather than 'active' */
#workspaces button.focused {
  color: @fg;
  font-weight: 600;
  background-color: @bg0;
}

#workspaces button.urgent {
  color: @red;
}

#mpris {
  margin: 0 0 0 0;
  padding: 0 9px;
  background-color: @bg0;
  color: @fg;
}

#window,
#tray {
  padding: 0 5px;
}

#clock,
#battery,
#cpu,
#memory {
  padding: 0 5px;
}

#battery.warning {
  color: @orange;
}

#battery.critical {
  color: @red;
}
